<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="D:\home\Python312\python.exe"
                      arguments="application.py"
                      stdoutLogEnabled="true"
                      stdoutLogFile="D:\home\LogFiles\stdout"
                      startupTimeLimit="60">
            <environmentVariables>
                <environmentVariable name="FLASK_APP" value="application.py" />
                <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>